# Ignore all images in Face_data and Face_data_aug
Face_data/**/*.{jpg,jpeg,png,bmp,gif,webp,tiff}
Face_data_aug/**/*.{jpg,jpeg,png,bmp,gif,webp,tiff}

# Allow keepers
!Face_data/**/.gitkeep
!Face_data_aug/**/.gitkeep

*.pyc
__pycache__/
.DS_Store
.vscode/
.idea/